@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import "normalize.css";
@import "sections.css";
@import "blog-section.css";

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  /*width: 90%;*/
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
  margin: auto;
  width: 90%;
  height: 100%;
}

h1 {
  margin: 20px 0px 30px 0px;
}

h3 {
  margin: 20px 0px 20px 0px;
}


@media (min-width: 901px) {
  #wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "header header header header header header header header"
  "main main main main main main main main"
  "footer footer footer footer footer footer footer footers";
  margin: auto;
  width: 90%;
  height: 100%;
}


}






